div.error {
    width: 600px;
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

span.error {
    background-color: darkred;
    color: aliceblue;
}

